@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@500;700&display=swap');


$dark-cyan: hsl(158, 36%, 37%);
$dark-grayish-blue: hsl(228, 12%, 48%);


html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  background-color: hsl(30, 38%, 92%);
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
}


.image{
  background: url('images/image-product-mobile.jpg') top/cover no-repeat;
  height: 40%;
  flex:1 1 0px;
}

.info {
  background-color: hsl(0, 0%, 100%);
  padding: 1.5rem;
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info .product-type {
  font-size: 14px;
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: $dark-grayish-blue;
}

.info .product-title{
  color: hsl(212, 21%, 14%);
  font-family: 'Fraunces', sans-serif;
  font-size: 2.2rem;
  line-height: 1;
  margin: 1rem 0;
}

.info .product-desc {
  font-size: 14px;
  color: $dark-grayish-blue;
  margin: 0;
  line-height: 1.7;
}


.prices {
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
}

.prices .current-price {
  font-family: 'Fraunces', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: $dark-cyan;
}

.prices .old-price {
  color: $dark-grayish-blue;
  text-decoration: line-through;
  margin-left: 20px;
  flex-grow: 1;
}

.cart-btn {
  background-color: $dark-cyan;
  text-align: center;
  padding: 1rem 0;
  border: none;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-family: inherit;
}

.cart-btn img {
  margin-right: 10px;
}

.cart-btn:hover {
  cursor: pointer;
  background-color: hsl(158, 25%, 27%);
}


@media (min-width: 769px){
  body {
    justify-content: center;
    align-items: center;
  }
  .container{
    width: 660px;
    height: 460px;
    flex-direction: row;
  }

  .image {
    background: url('images/image-product-desktop.jpg') center/cover no-repeat;
    height: 100%;
  }

  .info {
    justify-content:space-evenly; 
  }
}